.author-entry{
  font-size: 30px;
}

#author-name{
  font-size: 300%;
  padding: 5%;
  font-family: Georgia, 'Times New Roman', Times, serif; 
}

#other-books{
  font-style: oblique;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#all-books-link-wrapper{
  margin: 20px;
  width: 220px;
}

#all-authors-div{
  margin: 30px;
  width: auto;
}

#all-authors-link{
  color: #5F050E;
}

#delete-author-link{
  color: #5F050E;
  font-size: 20px;
}

#author-reviews{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 40px;
  margin: 50px;
}

#add-review-link{
  font-size: 100%;
  font-family: monospace;
  margin: 20px;
  width: 300px;
}