


body{
  background: aliceblue;
}

.grid-container {
  display: grid;
  grid-column-gap: 0px;
  grid-template-columns: auto auto auto;
  background-color: darkblues;
  padding: 1px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 30px;
  size: 50px;
  text-align: center;
  align-content: center;
  box-sizing: border-box;
}

h1{
  color: chocolate;
  margin: 0px;
}

ul {
  list-style: none;
}


#all-books-list{
  font-size: 40px;
  display: flex;
}

#title{
  font-style: italic;
  font-size: 75px;
}

#title-tag{
  visibility: hidden;
} 

#total-reviews, #avg-score{
  font-style: bold;
}


#author-tag,
#total-reviews-tag, 
#avg-score-tag, 
#num-pages-tag, 
#year-written-tag{
  font-size: 30px;
  visibility: visibles;
}

.item1{
  font-size: 30px;
  width: 500px;
  height: 200px;
}

.item2, .item3, .item4, .item5, .item6{
  width:200px;
  height: 200px;
}