.book-entry{
  font-size: 30px;
}

.book-headline{
  width: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.all-books-div{
  padding: 0;
  margin: 0;
  list-style: none;
  border: 1px solid silver;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}


#all-books-link{
  color: #5F050E;
}

#delete-book-link{
  color: #5F050E;
  font-size: 20px;
}

#book-reviews{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 40px;
  margin: 50px;
}

#book-title{
  overflow-wrap: break-word;
  font-size: 200%;
  padding: 5%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}