
#create-book-link{
  font-size: 50px;
  font-family: monospace
}

#create-book-link-wrapper{
  color: #891012;
  margin: 20px;
  width: 220px;
}

body{
  background: #645A50;
}

h1{
  color: #9E8553;
  text-align: center;
  margin: 0px;
  width: 100%;
}

ul {
  list-style: none;
}


#all-books-list{
  font-size: 20px;
  display: flex;
}



#title-link{
  text-decoration: none;
  font-style: none;
  font-size: 40px;
  align-content: center;
}

#author{
  font-style: none;
  text-decoration: none;
}

#title-tag{
  font-size: 100%;
  line-height: 50%;
  visibility: hidden;
} 

#total-reviews, #avg-score{
  font-style: bold;
}

#author-tag,
#total-reviews-tag, 
#avg-score-tag, 
#num-pages-tag, 
#year-written-tag{
  font-size: 50%;
  visibility: visible;
}



a, #create-book-link{
  color: rgb(141, 114, 114);
  font-size: 30px;
  padding: 0px;
  text-decoration: none;
  padding: 1px;
}

a:hover, #create-book-link:hover{
  font-size: 30px;
  color: blue;
}

#length-sort-links{
  align-items: center;
}

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
  float: right; 
}

.sorting-link{
  font-size: 50px;
  font-family: monospace;
  color: #891012;
  margin: 20px;
  width: 220px;
}

#link-bar{
  display: flex;
}

