body{
  background: aliceblue;
}

.grid-container {
  display: grid;
  grid-column-gap: 0px;
  grid-template-columns: auto auto auto;
  background-color: darkblue;
  padding: 1px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

h1{
  color: chocolate;
  margin: 0px;
}

ul {
  list-style: none;
}


#all-books-list{
  font-size: 50px;
}

#title{
  font-size: 200px;
  font-style: italic;
}

#total-reviews, #avg-score{
  font-style: bold;
}

#title-tag{
  visibility: hidden;
} 
#author-tag,
#total-reviews-tag, 
#avg-score-tag, 
#num-pages-tag, 
#year-written-tag{
  font-size: 30px;
  visibility: hidden;
}

.item1 {
  grid-column: 1 / span 2;
  grid-row: 1;
}
.item2 {
  grid-column: 3;
  grid-row: 1 / span 2;
}
.item3 {
  grid-column: 3;
  grid-row: 1 / span 2;
}
.item4 {
  grid-column: 3;
  grid-row: 1 / span 2;
}
.item5 {
  grid-column: 1 / span 3;
  grid-row: 3;
}